<ion-view view-title="TABLA NUTRICIONAL">
  <ion-content>
  	 <!-- Info -->
     <div class="info">
       en la cena es donde debemos comer un poco menos

       </center>

<img class="imm" src="img/3.jpg">

<center>

       <div class="nutrifacts-html">
     <h4>REFACCIÓN DEL adolescente
</h4>
     <span> jugo y  galletas</span>
     <div class="separator"></div>
     <!-- Tabla -->
     <table>
       <tr>
         <td colspan="2">
           <strong>comida sana</strong>
         </td>
       </tr>
       <tr>
         <td>
           <strong>Calorias (energia)</strong> 140kl
         </td>
         <td class="align-text-right">calorias de grasa 100</td>
       </tr>
       <tr>
         <td></td>
         <td class="align-text-right">total calorias <strong>300</strong></td>
       </tr>
       <tr>
         <td><strong>colesterol OMG</strong> 0g</td>
         <td class="align-text-right">0%</td>         
       </tr>
       <tr>
         <td>fibra dieteria 16g</td>
         <td class="align-text-right">40%</td>
       </tr>
       <tr>
         <td>Proteina</td>
         <td></td>
       </tr>
       <tr>
         <td><strong></strong> 0mg</td>
         <td class="align-text-right">0%</td>          
       </tr>
       <tr>
         <td><strong></strong> </td>
         <td class="align-text-right">45%</td>
       </tr>
       <tr>
         <td></td>
         <td class="align-text-right"></td>
       </tr>
       <tr>
         <td>azucar</td>
         <td></td>
       </tr>
       <tr>
         <td><strong></strong> </td>
         <td></td>
       </tr>
     </table>
     <div class="separator"></div>
     <!-- Vitamin table -->
     <table>
       <tr>
                 <td class="align-text-right"></td>
         <td>• vitamis B1,C ,B12</td>
         <td class="align-text-right">112%</td>
       </tr>
       <tr>
         <td></td>
         <td class="align-text-right"></td>
         <td>• </td>
         <td class="align-text-right"></td>
       </tr>
     </table>
     <!-- Info -->
     <div class="info">
    una pequeña refacción para levantar el animo
  </div>
</div>
<img class="imm" src="img/4.jpg">
 </ion-content>
</ion-view>
   
  </ion-content>
</ion-view>