<ion-view view-title="IMPORTANCIA DEL AGUA">
  <ion-content class="padding">
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-60">
          <video src="agua.mp4" controls></video>
    <center><h2>BIOLOGIAB</h2></center>
    <center><h4>cuidar el agua es muy fundamental para nuestro planeta tierra.El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua.
    	
    	

        <br><br><br><br>
        <h1>METODOS ANTICONCEPTIVOS</h1>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/DGyRD9HnXVs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

Tras la relación sexual los espermatozoides emigran hacia las Trompas de Falopio, huyendo del medio ácido de la vagina hacia un medio más alcalino. Una vez allí pueden sobrevivir de 48 a 72 horas por lo que la fecundación se puede dar hasta tres días después del coito.

Un óvulo únicamente es fecundado por un espermatozoide, esto sucede porque de todos los cientos de millones de espermatozoides que contiene el semen solo un centenar, aproximadamente, llega hasta el óvulo y cuando llegan y uno logra entrar en su interior y fecundarlo, la membrana del óvulo altera su estructura química y pasa a cerrar el paso al resto de espermatozoides. En este momento el gameto masculino pierde su cola y fusiona su núcleo con el del óvulo: de esta unión nace la primera célula del bebé que contiene la carga genética de ese nuevo ser humano, desde el color de ojos hasta si su pelo será liso o rizado	</h5>

  
        <br><br><br><br>
        <h1>METODOS ANTICONCEPTIVOS</h1>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/NdEKzlIittk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h4>Este artículo contiene información sobre los métodos para el control de la natalidad de venta libre y con receta médica. A muchos padres les incomoda tener conversaciones directas sobre el sexo y el control de la natalidad con su adolescente. Si usted es uno de ellos, llame al pediatra de su niño. Él o ella asesoran habitualmente a los pacientes jóvenes sobre el comportamiento sexual, los métodos anticonceptivos y las formas de prevenir las enfermedades de transmisión sexual (ETS). Muchas veces, el pediatra de su hijo puede proporcionar o prescribir un método conveniente para el control de la natalidad en el consultorio o referirlos a una institución en su comunidad que pueda prestar este servicio.</h4>
  </ion-content>
</ion-view>
