<ion-view view-title="IMPORTANCIA DEL AGUA">
  <ion-content class="padding">
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-60">
          <video src="agua.mp4" controls></video>
    <center><h2>BIOLOGIAB</h2></center>
    <center><h4>cuidar el agua es muy fundamental para nuestro planeta tierra.El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua.</

      <div id="spinner" style="text-align: center; color: #fff;">
              <div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>
<div class="dna"></div>

<div class="todo">
    <div class="titulo"> 
      <p>Juego de memoria </p>
    </div>
      <div class="contador">
      <p>Intentos</p>
        <p class="counter">0</p>
    </div>
    <div class="memoria">
      <div class="carta" id="1">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="2">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="3">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="4">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      
      <div class="carta" id="5">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="6">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="7">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="8">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      
      <div class="carta" id="9">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="10">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="11">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="12">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
    
      <div class="carta" id="13">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="14">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="15">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="16">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      
      <div class="carta" id="17">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      
      <div class="carta" id="18">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
  
    </div>
  </div>
    </div>
    <div class="col col-25"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
