/* Empty. Add your own CSS if you like */
video{
	width: 100%;
	height:200px;
}

ion-content{
	background:url("https://i.pinimg.com/736x/c3/66/01/c36601c81c51dbda3099725348ac9e01.jpg"); 
	 background-repeat: no-repeat;
	 background-size: cover;

}